#hun {
  background-color: orange;
  text-align: center;
  padding: 100px;
  border: 2px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 1px;
}
#ss {
  background-color: yellow;
  text-align: center;
  padding: 60px;
  border: 2px solid black;
  margin-top: 0px;
  margin-bottom: 0px;
}
.hln {
  background-color: blue;
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  margin-top: 1px;
  margin-bottom: 0px;
  width: 200px;
  height: 150px;
}
