* {
  margin: 0;
}

.nuur {
  position: relative;
  width: 1440px;
  margin: 0 auto;
}
.nuur1 {
  height: 773px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./nuur.png);
  background-position: center;
  background-size: cover;
  flex-direction: column;
  color: white;
}
#deer {
  position: fixed;
  top: 0;
  height: 100px;
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}
#deer2 {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding-bottom: 40px;
}
.text {
  color: white;
  font-size: 18px;
}
#teg {
  display: flex;
  justify-content: space-between;
  width: 392px;
  height: 22px;
  color: white;
}
#ene {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  color: black;
}
#ner {
  opacity: 0.5;
  font-size: 80px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#aw {
  font-size: 250px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#on {
  font-size: 64px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hoyr {
  height: 500px;
  width: 1440px;
  background-image: url(./hoyr.png);
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  gap: 40px;
}
#terkh {
  height: 378px;
  width: 252px;
  background-image: url(terkh.png);
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  padding: 20px;
  gap: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  box-shadow: 10px 10px #8bb8c1, -10px -10px #a4d1e2;
}
.layout {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  border-radius: 40px;
}
.layout:hover {
  opacity: 0.4;
}
#hiid {
  height: 378px;
  width: 252px;
  background-image: url(hiid.png);
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  padding: 20px;
  gap: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  box-shadow: 10px 10px #8bb8c1, -10px -10px #a4d1e2;
}
.bugd {
  height: 245px;
  width: 245px;
  position: absolute;
  display: none;
}
.har {
  top: 65px;
  left: 912px;
}
.serhvv {
  top: -46px;
  left: 716px;
}
.borhvv {
  top: 82px;
  left: 583px;
}
.sarhvv {
  top: -84px;
  left: 532px;
}
.serhvv {
  top: -80px;
  left: 699px;
}
#huvsgul {
  height: 378px;
  width: 252px;
  background-image: url(khuvsgul.png);
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  padding: 20px;
  position: relative;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px #8bb8c1, -10px -10px #a4d1e2;
}
#horg {
  height: 378px;
  width: 252px;
  background-image: url(horg.png);
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  padding: 20px;
  gap: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px #8bb8c1, -10px -10px #a4d1e2;
}
.gurv {
  width: 1440px;
  background-image: url(gazar.png);
  background-position: center;
  background-size: cover;
  flex-direction: column;
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
  height: 1022px;
}
.des {
  font-size: 42px;
  font-weight: 600;
  color: black;
  padding: 20px;
}
.pack {
  font-size: 20px;
  color: black;
  bottom: 335px;
}
#tegsh {
  display: flex;
  position: relative;
  gap: 40px;
  width: 1200px;
  height: 640px;
  margin-left: 120px;
  margin-right: 120px;
  padding-bottom: 59px;
}
#svv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 204px;
}
#gadar2 {
  width: 647px;
  height: 640px;
  display: flex;
  flex-direction: column;
  position: relative;
}
#gadar {
  width: 513px;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.aaw1 {
  width: 453px;
  height: 112px;
  background: #eee9d9;
  border-radius: 120px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  border: 4px solid transparent;
}
.aaw1:hover {
  border-color: white;
}
.aaw1:hover ~ .har {
  display: block;
}
.aaw2 {
  width: 453px;
  height: 112px;
  background: #8bb8c1;
  border-radius: 120px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  border: 4px solid transparent;
}
.aaw2:hover {
  border-color: white;
}
.aaw2:hover ~ .serhvv {
  display: block;
}
.pinn {
  width: 14px;
  height: 14px;
}
.huuhed1 {
  gap: 4px;
  display: flex;
  flex-direction: column;
}
.huuhed2 {
  display: flex;
  flex-direction: row;
  font-size: 24px;
}
.huuhed3 {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}
.day1 {
  font-size: 14px;
  width: 52px;
  height: 48px;
  background-color: white;
  border-radius: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aaw3 {
  width: 453px;
  height: 112px;
  background: #aad8d7;
  border-radius: 120px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  border: 4px solid transparent;
}
.aaw3:hover {
  border-color: white;
}
.aaw3:hover ~ .borhvv {
  display: block;
}
.aaw4 {
  width: 453px;
  height: 112px;
  background: #8bc0bd;
  border-radius: 120px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  border: 4px solid transparent;
}
.aaw4:hover {
  border-color: white;
}
.aaw4:hover ~ .sarhvv {
  display: block;
}
.aaw5 {
  width: 453px;
  height: 112px;
  background: #97cce0;
  border-radius: 120px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  border: 4px solid transparent;
}
.aaw5:hover {
  border-color: white;
}
.aaw5:hover ~ .serhvv {
  display: block;
}
.pink {
  position: absolute;
  width: 34px;
  height: 34px;
}
.bair1 {
  top: 42px;
  left: 832px;
}
.bair2 {
  top: 164px;
  left: 660px;
}
.bair3 {
  top: 181px;
  left: 1045px;
}
.bair4 {
  top: 416px;
  left: 832px;
}
.durv {
  height: 1120px;
  width: 100%;
  background-image: url(./durv.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-family: "Inter", sans-serif;
}
#rc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
}
.pri {
  font-size: 42px;
  font-weight: 600;
  color: black;
}
.cho {
  font-size: 20px;
  font-weight: 500;
  color: black;
}
.stan {
  color: #3f4145;
  font-size: 14px;
}
.dawhar {
  height: 527px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0 120px;
}
#savd {
  padding-top: 79px;
  padding-bottom: 185px;
}
.card {
  background-color: white;
  height: 527px;
  width: 384px;
  border-radius: 40px;
  position: relative;
}
.card:hover {
  height: 527px;
  width: 384px;
  border-radius: 40px;
  box-shadow: -8px -8px #95ced8, 8px 8px #919191;
}
#pin2 {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: row;
}
.chiher {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background: #fafdfc;
  height: 527px;
}
#zurkh {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  gap: 16px;
}
#too {
  font-size: 40px;
  font-weight: 400;
}
.eej {
  display: flex;
  position: relative;
}
.too2 {
  font-size: 16px;
  font-weight: 500;
  color: #919191;
}
.too3 {
  font-size: 16px;
  display: flex;
  background: #6972b5;
  position: absolute;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  width: 91px;
  height: 27px;
  justify-content: center;
  align-items: center;
  border-radius: 120px;
  color: white;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 12px 24px 40px 24px;
}
.box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 24px;
  gap: 16px;
}
#zl {
  gap: 16px;
}
.zv {
  display: block;
  width: 20px;
  height: 20px;
}
.list {
  font-size: 18px;
  font-weight: 500;
  gap: 16px;
  margin-left: 40px;
}
.lists {
  display: flex;
  gap: 16px;
}
.select {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 336px;
  height: 48px;
  background-color: #a4d1e2;
  border-radius: 120px;
}
.card:hover .select {
  background-color: black;
  color: white;
}
#buten {
  display: flex;
  width: 1200px;
  height: 44px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fd {
  width: 24px;
  height: 24px;
}
.ram {
  width: 24px;
  height: 24px;
}
.tour {
  width: 101px;
  height: 35px;
}
#buten2 {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
#buten3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.hamt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 18px;
  border-radius: 9999px;
  width: 167px;
  height: 44px;
  color: #6972b5;
  gap: 5px;
}
.hamt2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 18px;
  border-radius: 9999px;
  width: 167px;
  height: 44px;
  color: #6972b5;
  gap: 5px;
}
