#parent {
  border: 3px solid black;
  width: 40px;
  border-radius: 15px;
  width: 300px;
  padding: 40px;
}
.child1 {
  border-top: 4px dashed red;
  border-right: 3px dashed blue;
  border-bottom: 2px dashed green;
  border-left: 1px dashed aqua;
  height: 250px;
}
.child2 {
  margin-top: 10px;
  border-top: 4px dashed red;
  border-right: 3px dashed blue;
  border-bottom: 2px dashed green;
  border-left: 1px dashed aqua;
  height: 250px;
  border-radius: 40px 20px 10px 50px;

  border-top-left-radius: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 50px;
}
