body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(48, 166, 235);
}
#teg {
  background-color: white;
  height: 620px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
}
#too {
  background-color: rgb(239, 239, 220);
  justify-content: center;
  align-items: center;
  height: 13%;
  width: 95%;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 30px;
}
.hh {
  border-radius: 20px;
  padding: 40px;
  font-size: 20px;
  width: 80px;
  height: 40px;
  box-shadow: 0 3px 3px;
}
.ulbar {
  background-color: orange;
  border: none;
  border-radius: 10px;
}
.tsenher {
  background-color: rgb(99, 176, 238);
  border: none;
  border-radius: 10px;
}
.ulaan {
  background-color: red;
  border: none;
  border-radius: 10px;
}

#box2 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
#box3 {
  background-color: rgb(136, 232, 136);
  width: 180px;
  height: 60px;
  border-radius: 15px;
  margin-right: 200px;
  box-shadow: 0 3px 3px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}
