body {
  margin: 0px;
  display: flex;
  justify-content: center;
}
#nuur {
  width: 1920px;
  position: relative;
  justify-content: center;
  font-family: "Inter" serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#menu {
  width: 1920px;
  height: 44px;
  display: flex;
  justify-content: center;
  position: fixed;
  align-items: center;
  gap: 24px;
  background-color: #f5f5f7;
  z-index: 10;
  font-family: "Inter" serif;
}
#tolgoi {
  width: 1920px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#black {
  position: relative;
  background-image: url(./iphone16pro.jpg);
  height: 692px;
  width: 1920px;
  background-position: center;
  background-size: cover;
  font-family: "Inter" serif;
}
.four {
  position: absolute;
  width: 405px;
  height: 172px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  margin-left: 757px;
}
.iphone {
  color: white;
  font-size: 52px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.apple {
  font-size: 24px;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.hamt {
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.learn {
  width: 123px;
  height: 44px;
  background-color: #0071e3;
  color: white;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy {
  width: 68px;
  height: 44px;
  border-radius: 999px;
  border: 1px solid rgba(41, 151, 255, 1);
  color: rgba(41, 151, 255, 1);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blue {
  width: 1920px;
  height: 692px;
  background-image: url(./iphone16.jpg);
  background-position: center;
  background-size: cover;
}
#pink {
  width: 1920px;
  height: 692px;
  background-image: url(./beleg\ apple.jpg);
  background-position: center;
  background-size: cover;
}
.seven {
  width: 405px;
  height: 164px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 757px;
  margin-top: 446px;
}
.phone {
  color: black;
  font-size: 52px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  font-size: 24px;
  font-weight: 400;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.eigth {
  width: 114px;
  height: 44px;
  background-color: #0071e3;
  color: white;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 145.5px;
}
#dad {
  width: 1920px;
  height: 1764px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.child {
  width: 942px;
  height: 580px;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.neg {
  background-image: url(./ipad.jpg);
  background-position: center;
  background-size: cover;
}
.hoyr {
  background-image: url(./people.jpg);
  background-position: center;
  background-size: cover;
}
.gurv {
  background-image: url(./watch.jpg);
  background-position: center;
  background-size: cover;
}
.durv {
  background-image: url(./mac.jpg);
  background-position: center;
  background-size: cover;
}
.tav {
  background-image: url(./two\ phone.jpg);
  background-position: center;
  background-size: cover;
}
.zurga {
  background-image: url(./card.jpg);
  background-position: center;
  background-size: cover;
}
.sizes {
  color: black;
  margin-top: 9px;
}
.air {
  margin-top: 58px;
}
.paris {
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.cat {
  margin-top: 401px;
}
.cat2 {
  font-size: 36px;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cat3 {
  font-size: 18px;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.what {
  font-size: 32px;
  font-weight: 700;
}
.series {
  font-size: 15px;
  font-weight: 700;
}
.uvul {
  margin-top: 48px;
}
.house {
  font-size: 36px;
  font-weight: 600;
}
.get {
  width: 167px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0071e3;
  color: white;
  border-radius: 999px;
  margin-top: 20px;
  margin-left: 387.5px;
}
.tugsgul {
  width: 1920px;
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  flex-direction: row;
}
.tugs {
  width: 1250px;
  height: 668px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  position: relative;
  scroll-snap-align: center;
}
